{% extends "layout.html" %}

{% block body %}
    <br><br>
    <h1 style="text-align:center">Download Materials</h1>
    <br><br>
    <form autocomplete="off" action="" method="POST">
        <label style="font-size:150%" for="choosen_experiment">Choose an Experiment:</label>
        <select style="font-size:150%" name="choosen_experiment">
            {% for course in courses %}
                <optgroup label="{{ course.name }}">
                    {% for experiment in course.experiments.all() %}
                        <option value="{{ experiment.id }}">{{ experiment.name }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
        <input style="font-size:150%" type="submit" name='submit' value="Choose Course">
    </form>
    
    <br><br>
    <form autocomplete="off" action="" method="POST">
        <label style="font-size:150%" for="choosen_material">Choose a Material:</label>
        <select style="font-size:150%" name="choosen_material">
            {% for material in materials %}
                <option value="{{ material.id }}">{{ material.name }}</option>
            {% endfor %}
        </select>
        <input style="font-size:150%;background-color:skyblue" type="submit" name='submit' value="Download">
    </form>
{% endblock %}
