{% extends "layout.html" %}

{% block body %}
    <br><br>
    <h1 style="text-align:center">Log In</h1>
    <br><br>
    <form autocomplete="off" action="" method="POST">
        {{ form.hidden_tag() }}
        <p align="center">
            {{ form.email.label() }}
            {% if form.email.errors %}
                {{ form.email() }}
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.email() }}
            {% endif %}
        </p><br>
        <p align="center">
            {{ form.password.label() }}
            {% if form.password.errors %}
                {{ form.password() }}
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.password() }}
            {% endif %}
        </p><br>
        <p align="center">
            {{ form.remember() }}
            {{ form.remember.label() }}
        </p><br>
        <p align="center">
            {{ form.submit() }}
        </p><br><br>
        <p align="center">
            <a href="#">Forgot Password?</a>
        </p><br><br>
    </form>
    <p align="center">
        <h5 style="text-align:center">Need an Account?<a href="{{ url_for('register') }}"> Sign Up Now</a></h5>
    </p>
{% endblock %}
